extends ../layout

block content
  a(href='/genovevas') Volver

  br
  br
  br
  
  h1 Nuevo Postre
  
  br
  br

  form(action='/genovevas/create' method='post')
          label(for='id') ID:
          input#id(type='text' name='id')
          br
          label(for='color') Color:
          input#id(type='text' name='color')
          br
          label(for='modelo') Modelo:
          input#id(type='text' name='modelo')
          br
          label(for='lat') Latitud:
          input#id(type='text' name='lat')
          br
          label(for='lng') Longitud:
          input#id(type='text' name='lng')
          br
          br
          input.btn(type='submit' value='OK')