extends ../layout

block content
  a(href='/genovevas/create') Nuevo Postre
  
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') 
        th(scope='col') 
    tbody
      each geno in genos
        tr
          td(scope='row')
            = geno.id
          td= geno.color
          td= geno.modelo
          td= geno.ubicacion
          td
            a(href= 'genovevas/' + geno.id + '/update') Editar
          td
            form.inline(method='post' action='genovevas/' + geno.id + '/delete')
              input(type='hidden' name='id' value= geno.id)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                = 'Eliminar'