extends ../layout

block content
  a(href='/genovevas') Volver

  br
  br
  br
  
  h1 Actual Postre
  
  br
  br

  form(action=`/genovevas/${geno.id}/update` method='post')
    label(for='id') ID:
    input#id(type='text' name='id' value= geno.id)
    br
    label(for='color') Color:
    input#id(type='text' name='color' value= geno.color)
    br
    label(for='modelo') Modelo:
    input#id(type='text' name='modelo' value= geno.modelo)
    br
    label(for='lat') Latitud:
    input#id(type='text' name='lat' value= geno.ubicacion[0])
    br
    label(for='lng') Longitud:
    input#id(type='text' name='lng' value= geno.ubicacion[1])
    br
    br
    input.btn(type='submit' value='OK')